<div class="preloader">
  <div class="anim pulse"><i class="ion-ios-bolt-outline"></i></div>
</div>
<div class="preloader-left"></div>
<div class="inline-menu-container">
  <span class="status">Estoy disponible como Freelance</span>
  <ul class="inline-menu">
      <li class="about menu-item">Resumen</li>
      <li class="portfolio menu-item">Portafolio</li>
      <li class="blog menu-item">Blog</li>
      <li class="contact menu-item">Contacto</li>
      <li id="close" class="menu-item"><i class="ion-ios-close-empty"></i></li>
  </ul>
</div>
<app-home></app-home>
<router-outlet></router-outlet>


